[submodule "Engine/lib/spdlog"]
	path = Engine/lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/lib/GLFW"]
	path = Engine/lib/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Engine/lib/imgui"]
	path = Engine/lib/imgui
	url = https://github.com/TheCherno/imgui
